Repository boostcampwm-2022/android04-BEEP, pull requests merged in 2022-11, with the labels that each got.

#6 기프티콘 파싱 테스트
  presentation/src/test/kotlin/com/lighthouse/data/GifticonParser.kt
  presentation/src/test/kotlin/com/lighthouse/data/TextParseTest.kt
Labels: test

#8 PR 템플릿 추가
  .github/PULL_REQUEST_TEMPLATE.md
Labels: docs

#10 domain 패키지 구조 설계
  buildSrc/src/main/kotlin/Dependencies.kt
  domain/build.gradle.kts
  domain/src/main/java/com/lighthouse/domain/model/BrandPlaceInfo.kt
  domain/src/main/java/com/lighthouse/domain/model/GalleryImage.kt
  domain/src/main/java/com/lighthouse/domain/model/Gifticon.kt
  domain/src/main/java/com/lighthouse/domain/model/GifticonSaveRequest.kt
  domain/src/main/java/com/lighthouse/domain/model/UsageHistory.kt
  domain/src/main/java/com/lighthouse/domain/usecase/GetAllBrandsUseCase.kt
  domain/src/main/java/com/lighthouse/domain/usecase/GetBrandPlaceInfosUseCase.kt
  domain/src/main/java/com/lighthouse/domain/usecase/GetCorrespondWithPinUseCase.kt
  domain/src/main/java/com/lighthouse/domain/usecase/GetGalleryImagesUseCase.kt
  domain/src/main/java/com/lighthouse/domain/usecase/GetGifticonUseCase.kt
  domain/src/main/java/com/lighthouse/domain/usecase/GetGifticonsByLocationUseCase.kt
  domain/src/main/java/com/lighthouse/domain/usecase/GetGifticonsUseCase.kt
  domain/src/main/java/com/lighthouse/domain/usecase/GetNotificationGifticonUseCase.kt
  domain/src/main/java/com/lighthouse/domain/usecase/GetSharedDateUseCase.kt
  domain/src/main/java/com/lighthouse/domain/usecase/SaveGifticonsUseCase.kt
  domain/src/main/java/com/lighthouse/domain/usecase/SavePinUseCase.kt
  domain/src/main/java/com/lighthouse/domain/usecase/UpdateGifticonInfoUseCase.kt
  domain/src/main/java/com/lighthouse/domain/usecase/UpdatePinUseCase.kt
  domain/src/main/java/com/lighthouse/domain/usecase/UpdateSharedDateUseCase.kt
  domain/src/main/java/com/lighthouse/domain/usecase/UpdateUsageHistoryUseCase.kt
Labels: feat

#12 라이브러리 의존성 추가
  app/build.gradle.kts
  app/src/main/AndroidManifest.xml
  build.gradle.kts
  buildSrc/src/main/kotlin/AppConfig.kt
  buildSrc/src/main/kotlin/Dependencies.kt
  data/build.gradle.kts
  domain/build.gradle.kts
  domain/src/main/java/com/lighthouse/domain/model/GalleryImage.kt
  domain/src/main/java/com/lighthouse/domain/model/GifticonSaveRequest.kt
  domain/src/main/java/com/lighthouse/domain/usecase/GetGalleryImagesUseCase.kt
  domain/src/main/java/com/lighthouse/domain/usecase/SavePinUseCase.kt
  gradle.properties
  presentation/build.gradle.kts
  settings.gradle.kts
Labels: chore

#20 네이버 맵을 사용하기 위한 View 구성 / 자동 리뷰어 추가
  .github/CODEOWNERS
  app/build.gradle.kts
  app/src/main/AndroidManifest.xml
  presentation/src/main/java/com/lighthouse/presentation/ui/map/MapActivity.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/map/MapViewModel.kt
  presentation/src/main/res/layout/activity_map.xml
  presentation/src/main/res/layout/item_gifticon_horizontal.xml
Labels: style, chore

#21 액티비티 화면이동 구현
  presentation/src/main/AndroidManifest.xml
  presentation/src/main/java/com/lighthouse/presentation/extra/Extras.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/addgifticon/AddGifticonActivity.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/common/FragmentViewBindingDelegate.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/cropgifticon/CropGifticonActivity.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/gallery/GalleryActivity.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/gallery/GalleryViewModel.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/gifticonlist/GifticonListFragment.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/home/HomeFragment.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/main/MainActivity.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/main/MainViewModel.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/main/event/MainDirections.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/setting/SettingFragment.kt
  presentation/src/main/res/drawable/ic_main_floating_add.xml
  presentation/src/main/res/drawable/ic_main_menu_home.xml
  presentation/src/main/res/drawable/ic_main_menu_list.xml
  presentation/src/main/res/drawable/ic_main_menu_setting.xml
  presentation/src/main/res/layout/activity_main.xml
  presentation/src/main/res/layout/fragment_gifticon_list.xml
  presentation/src/main/res/layout/fragment_home.xml
  presentation/src/main/res/layout/fragment_setting.xml
  presentation/src/main/res/menu/menu_main_navigation.xml
  presentation/src/main/res/values/strings.xml
Labels: feat, style, chore

#25 Hilt를 모듈 구성 / 카카오 서치 api 적용
  .github/workflow/labeler.yml
  app/build.gradle.kts
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/lighthouse/BeepApplication.kt
  app/src/main/java/com/lighthouse/di/DataModule.kt
  app/src/main/java/com/lighthouse/di/HTTPRequestInterceptor.kt
  app/src/main/java/com/lighthouse/di/NetworkModule.kt
  buildSrc/src/main/kotlin/Dependencies.kt
  data/src/main/java/com/lighthouse/datasource/BrandRemoteSource.kt
  data/src/main/java/com/lighthouse/datasource/BrandRemoteSourceImpl.kt
  data/src/main/java/com/lighthouse/mapper/BrandPlaceInfoDataContainerMapper.kt
  data/src/main/java/com/lighthouse/mapper/ErrorMapper.kt
  data/src/main/java/com/lighthouse/model/BrandPlaceInfoDataContainer.kt
  data/src/main/java/com/lighthouse/model/CustomErrorData.kt
  data/src/main/java/com/lighthouse/network/NetworkApiService.kt
  data/src/main/java/com/lighthouse/repository/BrandRepositoryImpl.kt
  domain/src/main/java/com/lighthouse/domain/model/CustomError.kt
  domain/src/main/java/com/lighthouse/domain/repository/BrandRepository.kt
  domain/src/main/java/com/lighthouse/domain/usecase/GetBrandPlaceInfosUseCase.kt
  presentation/src/main/AndroidManifest.xml
  presentation/src/main/java/com/lighthouse/presentation/mapper/BrandPlaceInfoUiModelMapper.kt
  presentation/src/main/java/com/lighthouse/presentation/model/BrandPlaceInfoUiModel.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/map/MapActivity.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/map/MapViewModel.kt
Labels: feat, chore

#27 Firebase Google Login
  app/.gitignore
  build.gradle.kts
  presentation/.gitignore
  presentation/build.gradle.kts
  presentation/src/main/AndroidManifest.xml
  presentation/src/main/java/com/lighthouse/presentation/ui/signin/SignInActivity.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/signin/SignInFragment.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/signin/SignInViewModel.kt
  presentation/src/main/res/layout/activity_sign_in.xml
  presentation/src/main/res/layout/fragment_sign_in.xml
  presentation/src/main/res/values/strings.xml
Labels: feat, style

#29 Feat/gallery
  presentation/src/main/res/color/black_a12.xml
  presentation/src/main/res/drawable/bg_gallery_selected.xml
  presentation/src/main/res/drawable/bg_gallery_unselected.xml
  presentation/src/main/res/drawable/btn_main_floating_add.xml
  presentation/src/main/res/drawable/ic_add_default_gifticon.xml
  presentation/src/main/res/drawable/ic_add_delete_gifticon.xml
  presentation/src/main/res/drawable/ic_add_goto_gallery.xml
  presentation/src/main/res/drawable/ic_add_warning_badge.xml
  presentation/src/main/res/drawable/ic_back.xml
  presentation/src/main/res/drawable/ic_main_floating_add.xml
  presentation/src/main/res/layout/activity_add_gifticon.xml
  presentation/src/main/res/layout/activity_crop_gifticon.xml
  presentation/src/main/res/layout/activity_gallery.xml
  presentation/src/main/res/layout/activity_main.xml
  presentation/src/main/res/layout/item_add_candidate_gifticon.xml
  presentation/src/main/res/layout/item_add_goto_gallery.xml
  presentation/src/main/res/layout/item_gallery.xml
  presentation/src/main/res/layout/item_gallery_header.xml
  presentation/src/main/res/values/colors.xml
  presentation/src/main/res/values/strings.xml
  presentation/src/main/res/values/themes.xml
Labels: style

#28 SignIn 레이아웃 작업
  presentation/src/main/java/com/lighthouse/presentation/ui/signin/SignInFragment.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/signin/SignInViewModel.kt
  presentation/src/main/res/layout/fragment_sign_in.xml
Labels: feat, style

#34 갤러리에서 사진 가져오는 구현 추가
  app/src/main/java/com/lighthouse/di/DataModule.kt
  app/src/main/java/com/lighthouse/di/DatabaseModule.kt
  data/src/main/java/com/lighthouse/datasource/GalleryImageLocalSource.kt
  data/src/main/java/com/lighthouse/datasource/GalleryImageLocalSourceImpl.kt
  data/src/main/java/com/lighthouse/repository/GalleryImageRepositoryImpl.kt
  domain/src/main/java/com/lighthouse/domain/repository/GalleryImageRepository.kt
  domain/src/main/java/com/lighthouse/domain/usecase/GetGalleryImagesUseCase.kt
  presentation/src/main/java/com/lighthouse/presentation/adapter/BindableAdapter.kt
  presentation/src/main/java/com/lighthouse/presentation/adapter/BindableListAdapter.kt
  presentation/src/main/java/com/lighthouse/presentation/adapter/BindablePagingAdapter.kt
  presentation/src/main/java/com/lighthouse/presentation/binding/RecyclerView.kt
  presentation/src/main/java/com/lighthouse/presentation/extra/Extras.kt
  presentation/src/main/java/com/lighthouse/presentation/mapper/GalleryUIModelMapper.kt
  presentation/src/main/java/com/lighthouse/presentation/model/AddGifticonUIModel.kt
  presentation/src/main/java/com/lighthouse/presentation/model/GalleryUIModel.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/addgifticon/AddGifticonActivity.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/addgifticon/AddGifticonViewModel.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/addgifticon/adapter/AddCandidateGifticonDisplayModel.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/addgifticon/adapter/AddCandidateGifticonViewHolder.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/addgifticon/adapter/AddGifticonAdapter.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/addgifticon/adapter/AddGotoGalleryViewHolder.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/addgifticon/event/AddGifticonDirections.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/bindingadapter/ImageView.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/cropgifticon/CropGifticonActivity.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/gallery/GalleryActivity.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/gallery/GalleryViewModel.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/gallery/adapter/GalleryAdapter.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/gallery/adapter/GalleryHeaderViewHolder.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/gallery/adapter/GalleryItemViewHolder.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/main/MainActivity.kt
  presentation/src/main/res/drawable/ic_add_warning_badge.xml
  presentation/src/main/res/layout/activity_add_gifticon.xml
  presentation/src/main/res/layout/activity_gallery.xml
  presentation/src/main/res/layout/activity_main.xml
  presentation/src/main/res/layout/item_add_candidate_gifticon.xml
  presentation/src/main/res/layout/item_gallery.xml
Labels: feat, style, chore

#32 앱 아이콘 변경
  presentation/src/main/ic_launcher-playstore.png
  presentation/src/main/res/drawable-v24/ic_launcher_foreground.xml
  presentation/src/main/res/drawable/ic_launcher_background.xml
  presentation/src/main/res/drawable/ic_launcher_foreground.xml
  presentation/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
  presentation/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
  presentation/src/main/res/mipmap-hdpi/ic_launcher.png
  presentation/src/main/res/mipmap-hdpi/ic_launcher.webp
  presentation/src/main/res/mipmap-hdpi/ic_launcher_round.png
  presentation/src/main/res/mipmap-hdpi/ic_launcher_round.webp
  presentation/src/main/res/mipmap-mdpi/ic_launcher.png
  presentation/src/main/res/mipmap-mdpi/ic_launcher.webp
  presentation/src/main/res/mipmap-mdpi/ic_launcher_round.png
  presentation/src/main/res/mipmap-mdpi/ic_launcher_round.webp
  presentation/src/main/res/mipmap-xhdpi/ic_launcher.png
  presentation/src/main/res/mipmap-xhdpi/ic_launcher.webp
  presentation/src/main/res/mipmap-xhdpi/ic_launcher_round.png
  presentation/src/main/res/mipmap-xhdpi/ic_launcher_round.webp
  presentation/src/main/res/mipmap-xxhdpi/ic_launcher.png
  presentation/src/main/res/mipmap-xxhdpi/ic_launcher.webp
  presentation/src/main/res/mipmap-xxhdpi/ic_launcher_round.png
  presentation/src/main/res/mipmap-xxhdpi/ic_launcher_round.webp
  presentation/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  presentation/src/main/res/mipmap-xxxhdpi/ic_launcher.webp
  presentation/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
  presentation/src/main/res/mipmap-xxxhdpi/ic_launcher_round.webp
Labels: style

#35 카카오 검색 성공/실패 테스트 코드 구현
  app/build.gradle.kts
  build.gradle.kts
  buildSrc/src/main/kotlin/Dependencies.kt
  domain/build.gradle.kts
  domain/src/main/java/com/lighthouse/domain/model/CustomError.kt
  domain/src/main/java/com/lighthouse/domain/usecase/GetBrandPlaceInfosUseCase.kt
  domain/src/test/java/com/lighthouse/domain/usecase/GetBrandPlaceInfosUseCaseTest.kt
  presentation/build.gradle.kts
  presentation/src/main/java/com/lighthouse/presentation/mapper/BrandPlaceInfoUiModelMapper.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/map/MapActivity.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/map/MapState.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/map/MapViewModel.kt
  presentation/src/test/kotlin/com/lighthouse/presentation/ui/map/MapViewModelTest.kt
Labels: feat, chore, test

#38 스플래시 화면, primary color가 될 분홍색 조정
  buildSrc/src/main/kotlin/Dependencies.kt
  presentation/src/main/AndroidManifest.xml
  presentation/src/main/java/com/lighthouse/presentation/ui/signin/SignInActivity.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/signin/SignInFragment.kt
  presentation/src/main/res/drawable/bg_splash.xml
  presentation/src/main/res/drawable/ic_splash_beep.xml
  presentation/src/main/res/layout/fragment_sign_in.xml
  presentation/src/main/res/values/colors.xml
  presentation/src/main/res/values/themes.xml
Labels: feat, style, chore

#40 Gallery에 페이징 구현
  buildSrc/src/main/kotlin/Dependencies.kt
  data/src/main/java/com/lighthouse/datasource/GalleryImageLocalSource.kt
  data/src/main/java/com/lighthouse/datasource/GalleryImageLocalSourceImpl.kt
  data/src/main/java/com/lighthouse/datasource/GalleryImagePagingSource.kt
  data/src/main/java/com/lighthouse/repository/GalleryImageRepositoryImpl.kt
  domain/src/main/java/com/lighthouse/domain/repository/GalleryImageRepository.kt
  domain/src/main/java/com/lighthouse/domain/usecase/GetGalleryImagesUseCase.kt
  presentation/build.gradle.kts
  presentation/src/main/AndroidManifest.xml
  presentation/src/main/java/com/lighthouse/presentation/adapter/BindablePagingAdapter.kt
  presentation/src/main/java/com/lighthouse/presentation/binding/ImageView.kt
  presentation/src/main/java/com/lighthouse/presentation/model/GalleryUIModel.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/addgifticon/adapter/AddCandidateGifticonViewHolder.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/bindingadapter/ImageView.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/gallery/GalleryActivity.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/gallery/GalleryViewModel.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/gallery/adapter/GalleryAdapter.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/gallery/adapter/GalleryDisplayModel.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/gallery/adapter/GalleryHeaderViewHolder.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/gallery/adapter/GalleryItemViewHolder.kt
  presentation/src/main/java/com/lighthouse/presentation/utils/extention/KotlinExtention.kt
  presentation/src/main/java/com/lighthouse/presentation/utils/recycler/GridSpaceItemDecoration.kt
  presentation/src/main/java/com/lighthouse/presentation/utils/recycler/ListSpaceItemDecoration.kt
  presentation/src/main/java/com/lighthouse/presentation/utils/recycler/SectionSpaceGridDivider.kt
  presentation/src/main/res/layout/activity_gallery.xml
  presentation/src/main/res/layout/activity_main.xml
  presentation/src/main/res/layout/item_add_candidate_gifticon.xml
  presentation/src/main/res/layout/item_gallery.xml
  presentation/src/main/res/layout/item_gallery_header.xml
Labels: feat, style, chore

#42 기프티콘 상세화면 XML 작성 및 간단한 로직 구현
  presentation/src/main/AndroidManifest.xml
  presentation/src/main/java/com/lighthouse/presentation/bindingadapter/TextView.kt
  presentation/src/main/java/com/lighthouse/presentation/bindingadapter/View.kt
  presentation/src/main/java/com/lighthouse/presentation/extension/LifecycleOwner.kt
  presentation/src/main/java/com/lighthouse/presentation/extension/ScrollView.kt
  presentation/src/main/java/com/lighthouse/presentation/extension/View.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/detailgifticon/Event.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/detailgifticon/GifticonDetailActivity.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/detailgifticon/GifticonDetailViewModel.kt
  presentation/src/main/java/com/lighthouse/presentation/util/UUID.kt
  presentation/src/main/res/drawable/bg_gifticon_detail_memo.xml
  presentation/src/main/res/drawable/ic_double_arrow_down.xml
  presentation/src/main/res/drawable/ic_mode_edit.xml
  presentation/src/main/res/drawable/ic_outline_info.xml
  presentation/src/main/res/drawable/ic_share.xml
  presentation/src/main/res/layout/activity_gifticon_detail.xml
  presentation/src/main/res/values/colors.xml
  presentation/src/main/res/values/strings.xml
Labels: feat, style

#41 네이버 맵 마커 / 하단 ViewPager 추가 (임시 데이터)
  buildSrc/src/main/kotlin/Dependencies.kt
  data/src/main/java/com/lighthouse/datasource/BrandRemoteSource.kt
  data/src/main/java/com/lighthouse/datasource/BrandRemoteSourceImpl.kt
  data/src/main/java/com/lighthouse/network/NetworkApiService.kt
  data/src/main/java/com/lighthouse/repository/BrandRepositoryImpl.kt
  domain/src/main/java/com/lighthouse/domain/repository/BrandRepository.kt
  domain/src/main/java/com/lighthouse/domain/usecase/GetBrandPlaceInfosUseCase.kt
  presentation/src/main/AndroidManifest.xml
  presentation/src/main/java/com/lighthouse/presentation/binding/TextBindingAdapter.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/map/FusedLocationProvider.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/map/MapActivity.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/map/MapState.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/map/MapViewModel.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/map/OnLocationUpdateListener.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/map/adapter/MapGifticonAdapter.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/map/adapter/MapGifticonItemViewHolder.kt
  presentation/src/main/java/com/lighthouse/presentation/util/TimeCalculator.kt
  presentation/src/main/java/com/lighthouse/presentation/utils/extention/KotlinExtention.kt
  presentation/src/main/res/layout/activity_map.xml
  presentation/src/main/res/layout/item_gifticon_horizontal.xml
  presentation/src/main/res/values/strings.xml
Labels: feat, style, chore

#47 GifticonDatabase 설정, DatabaseModule에 추가
  app/src/main/java/com/lighthouse/di/DatabaseModule.kt
  buildSrc/src/main/kotlin/Dependencies.kt
  data/src/main/java/com/lighthouse/database/BeepDatabase.kt
  data/src/main/java/com/lighthouse/database/dao/GifticonDao.kt
  data/src/main/java/com/lighthouse/database/entity/GifticonEntity.kt
Labels: feat, chore

#48 Gallery 이미지 다중 선택 및 Activity 간 교환
  presentation/build.gradle.kts
  presentation/src/main/java/com/lighthouse/presentation/binding/TextBindingAdapter.kt
  presentation/src/main/java/com/lighthouse/presentation/binding/TextView.kt
  presentation/src/main/java/com/lighthouse/presentation/binding/View.kt
  presentation/src/main/java/com/lighthouse/presentation/extension/Intent.kt
  presentation/src/main/java/com/lighthouse/presentation/extension/KotlinExtention.kt
  presentation/src/main/java/com/lighthouse/presentation/extra/Extras.kt
  presentation/src/main/java/com/lighthouse/presentation/model/AddGifticonUIModel.kt
  presentation/src/main/java/com/lighthouse/presentation/model/GalleryUIModel.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/addgifticon/AddGifticonActivity.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/addgifticon/AddGifticonViewModel.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/addgifticon/event/AddGifticonDirections.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/gallery/GalleryActivity.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/gallery/GalleryViewModel.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/gallery/adapter/GalleryAdapter.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/gallery/adapter/GalleryItemViewHolder.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/gallery/adapter/GallerySelection.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/gallery/event/GalleryEvents.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/main/MainActivity.kt
  presentation/src/main/java/com/lighthouse/presentation/util/recycler/GridSpaceItemDecoration.kt
  presentation/src/main/java/com/lighthouse/presentation/util/recycler/ListSpaceItemDecoration.kt
  presentation/src/main/java/com/lighthouse/presentation/util/recycler/SectionSpaceGridDivider.kt
  presentation/src/main/res/drawable/bg_gallery.xml
  presentation/src/main/res/drawable/bg_gallery_selected.xml
  presentation/src/main/res/layout/activity_gallery.xml
  presentation/src/main/res/layout/item_gallery.xml
  presentation/src/main/res/values/strings.xml
  presentation/src/main/res/values/themes.xml
Labels: feat, style

#53 버전 별 지문 인증 (레이아웃 제외)
  app/src/main/AndroidManifest.xml
  presentation/src/main/AndroidManifest.xml
  presentation/src/main/java/com/lighthouse/presentation/ui/security/FingerprintFragment.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/security/PinFragment.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/security/SecurityActivity.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/security/event/SecurityDirections.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/security/fingerprint/BiometricAuth.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/security/fingerprint/CryptoObjectHelper.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/security/fingerprint/FingerprintAuth.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/security/fingerprint/FingerprintAuthCallback.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/security/fingerprint/FingerprintAuthManager.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/security/fingerprint/LegacyFingerprintAuth.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/signin/SignInFragment.kt
  presentation/src/main/res/layout/activity_security.xml
  presentation/src/main/res/layout/fragment_fingerprint.xml
  presentation/src/main/res/layout/fragment_pin.xml
  presentation/src/main/res/values/strings.xml
Labels: feat, refactor, style, chore

#57 기프티콘 상세 화면 및 사용 화면 구현
  buildSrc/src/main/kotlin/Dependencies.kt
  presentation/src/main/java/com/lighthouse/presentation/binding/TextInputLayout.kt
  presentation/src/main/java/com/lighthouse/presentation/binding/TextView.kt
  presentation/src/main/java/com/lighthouse/presentation/extension/KotlinExtention.kt
  presentation/src/main/java/com/lighthouse/presentation/extension/View.kt
  presentation/src/main/java/com/lighthouse/presentation/model/CashAmountPreset.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/detailgifticon/Event.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/detailgifticon/GifticonDetailActivity.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/detailgifticon/GifticonDetailMode.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/detailgifticon/GifticonDetailViewModel.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/detailgifticon/dialog/UseGifticonDialog.kt
  presentation/src/main/java/com/lighthouse/presentation/util/BarcodeUtil.kt
  presentation/src/main/java/com/lighthouse/presentation/util/recycler/GridSpaceItemDecoration.kt
  presentation/src/main/res/drawable/bg_bottom_sheet_handle.xml
  presentation/src/main/res/drawable/bg_corner_top_20.xml
  presentation/src/main/res/drawable/tc_on_primary_disabled.xml
  presentation/src/main/res/drawable/tc_on_primary_disabled_night.xml
  presentation/src/main/res/layout/activity_gifticon_detail.xml
  presentation/src/main/res/layout/dialog_use_gifticon.xml
  presentation/src/main/res/values-night/themes.xml
  presentation/src/main/res/values/colors.xml
  presentation/src/main/res/values/dimens.xml
  presentation/src/main/res/values/strings.xml
  presentation/src/main/res/values/styles.xml
  presentation/src/main/res/values/themes.xml
Labels: feat, style, chore

#54 CropImageView 일부 기능 구현
  presentation/src/main/AndroidManifest.xml
  presentation/src/main/java/com/lighthouse/presentation/ui/cropgifticon/CropGifticonActivity.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/cropgifticon/view/CropImageView.kt
  presentation/src/main/res/color/black_a36.xml
  presentation/src/main/res/color/black_a60.xml
  presentation/src/main/res/color/primary.xml
  presentation/src/main/res/drawable/img_test_gifticon.jpg
  presentation/src/main/res/layout/activity_crop_gifticon.xml
  presentation/src/main/res/values/themes.xml
Labels: feat, bug, style

#60 임시 UseCase 를 사용한 기프티콘 호출
  buildSrc/src/main/kotlin/Dependencies.kt
  domain/src/main/java/com/lighthouse/domain/usecase/GetGifticonUseCase.kt
  presentation/src/main/java/com/lighthouse/presentation/extra/Extras.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/detailgifticon/GifticonDetailViewModel.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/gifticonlist/GifticonListFragment.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/main/MainActivity.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/main/MainViewModel.kt
  presentation/src/main/res/layout/fragment_gifticon_list.xml
Labels: feat, style, chore

#59 Gallery 이미지로 Crop 화면에 이동
  presentation/src/main/java/com/lighthouse/presentation/extension/ContentResolver.kt
  presentation/src/main/java/com/lighthouse/presentation/extra/Extras.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/addgifticon/AddGifticonActivity.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/addgifticon/AddGifticonViewModel.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/addgifticon/adapter/AddCandidateGifticonDisplayModel.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/addgifticon/adapter/AddCandidateGifticonViewHolder.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/addgifticon/adapter/AddGifticonAdapter.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/cropgifticon/CropGifticonActivity.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/cropgifticon/CropGifticonViewModel.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/cropgifticon/event/CropGifticonEvents.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/cropgifticon/view/CropImageView.kt
  presentation/src/main/res/layout/activity_add_gifticon.xml
  presentation/src/main/res/layout/activity_crop_gifticon.xml
  presentation/src/main/res/layout/activity_gallery.xml
  presentation/src/main/res/layout/item_add_candidate_gifticon.xml
Labels: feat, fix, bug, style

#63 Spinner 형식의 DatePicker 클래스 작성
  presentation/src/main/AndroidManifest.xml
  presentation/src/main/java/com/lighthouse/presentation/binding/TextView.kt
  presentation/src/main/java/com/lighthouse/presentation/extension/KotlinExtention.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/common/dialog/SpinnerDatePickerDialog.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/detailgifticon/Event.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/detailgifticon/GifticonDetailActivity.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/detailgifticon/GifticonDetailViewModel.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/detailgifticon/dialog/UseGifticonDialog.kt
  presentation/src/main/res/layout/activity_gifticon_detail.xml
  presentation/src/main/res/values/strings.xml
  presentation/src/main/res/values/styles.xml
  presentation/src/main/res/values/themes.xml
Labels: feat, style

#64 카카오 서치 캐싱 구현
  app/src/main/java/com/lighthouse/di/DataModule.kt
  app/src/main/java/com/lighthouse/di/DatabaseModule.kt
  data/src/main/java/com/lighthouse/database/BeepDatabase.kt
  data/src/main/java/com/lighthouse/database/dao/BrandWithSectionDao.kt
  data/src/main/java/com/lighthouse/database/entity/BrandEntity.kt
  data/src/main/java/com/lighthouse/database/entity/BrandWithSections.kt
  data/src/main/java/com/lighthouse/database/entity/SectionEntity.kt
  data/src/main/java/com/lighthouse/datasource/BrandRemoteSource.kt
  data/src/main/java/com/lighthouse/datasource/brand/BrandLocalDataSource.kt
  data/src/main/java/com/lighthouse/datasource/brand/BrandLocalDataSourceImpl.kt
  data/src/main/java/com/lighthouse/datasource/brand/BrandRemoteDataSource.kt
  data/src/main/java/com/lighthouse/datasource/brand/BrandRemoteDataSourceImpl.kt
  data/src/main/java/com/lighthouse/mapper/BrandEntityMapper.kt
  data/src/main/java/com/lighthouse/mapper/BrandPlaceInfoDataContainerMapper.kt
  data/src/main/java/com/lighthouse/mapper/ErrorMapper.kt
  data/src/main/java/com/lighthouse/model/CustomErrorData.kt
  data/src/main/java/com/lighthouse/network/NetworkApiService.kt
  data/src/main/java/com/lighthouse/repository/BrandRepositoryImpl.kt
  data/src/main/java/com/lighthouse/util/LocationConverter.kt
  domain/src/main/java/com/lighthouse/domain/repository/BrandRepository.kt
  domain/src/main/java/com/lighthouse/domain/usecase/GetBrandPlaceInfosUseCase.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/map/MapViewModel.kt
Labels: feat

#67 커스텀 스피너 DatePicker 작성
  presentation/src/main/java/com/lighthouse/presentation/ui/common/dialog/SpinnerDatePicker.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/common/dialog/SpinnerDatePickerDialog.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/detailgifticon/GifticonDetailActivity.kt
  presentation/src/main/res/layout/dialog_spinner_date_picker.xml
  presentation/src/main/res/layout/item_numberpicker_with_text.xml
  presentation/src/main/res/values/strings.xml
Labels: feat, style

#70 Issues #68 style: Toolbar 를 Scrollview 외부로 빼고 RootLayout 을 CoordinatorLayout 으로 변경
  presentation/src/main/java/com/lighthouse/presentation/ui/detailgifticon/GifticonDetailActivity.kt
  presentation/src/main/res/layout/activity_gifticon_detail.xml
Labels: style

#62 지문 인식 레이아웃 작업
  presentation/src/main/AndroidManifest.xml
  presentation/src/main/java/com/lighthouse/presentation/ui/security/FingerprintBottomSheetDialog.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/security/FingerprintFragment.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/security/fingerprint/BiometricAuth.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/security/fingerprint/FingerprintAuthCallback.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/security/fingerprint/FingerprintAuthManager.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/security/fingerprint/LegacyFingerprintAuth.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/signin/SignInFragment.kt
  presentation/src/main/res/anim/anim_shake.xml
  presentation/src/main/res/drawable/ic_fingerprint.xml
  presentation/src/main/res/layout/dialog_fingerprint_legacy.xml
  presentation/src/main/res/layout/fragment_fingerprint.xml
  presentation/src/main/res/values/strings.xml
  presentation/src/main/res/values/styles.xml
Labels: feat, style, chore

#69 Room 테스트 코드 일부 구현 / Dao에서 brand mapper 로직 변경 / UseCase, ViewModel 테스트 코드 버그 수정 / UiState
  app/src/main/java/com/lighthouse/BeepApplication.kt
  buildSrc/src/main/kotlin/Dependencies.kt
  data/build.gradle.kts
  data/src/main/java/com/lighthouse/database/dao/BrandWithSectionDao.kt
  data/src/main/java/com/lighthouse/database/entity/BrandEntity.kt
  data/src/main/java/com/lighthouse/datasource/brand/BrandLocalDataSourceImpl.kt
  data/src/main/java/com/lighthouse/mapper/BrandEntityMapper.kt
  data/src/main/java/com/lighthouse/mapper/ErrorMapper.kt
  data/src/test/java/data/datasource/BrandLocalDataSourceTest.kt
  domain/src/main/java/com/lighthouse/domain/model/CustomError.kt
  domain/src/main/java/com/lighthouse/domain/usecase/GetBrandPlaceInfosUseCase.kt
  domain/src/test/java/com/lighthouse/domain/usecase/GetBrandPlaceInfosUseCaseTest.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/common/UiState.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/map/MapActivity.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/map/MapState.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/map/MapViewModel.kt
  presentation/src/main/res/layout/activity_map.xml
  presentation/src/main/res/values/strings.xml
  presentation/src/test/kotlin/com/lighthouse/presentation/ui/map/MapViewModelTest.kt
Labels: feat, style, chore, test

#89 DB 에서 기프티콘 id 로 기프티콘 정보 불러오기 및 오류 처리
  app/src/main/java/com/lighthouse/di/DataModule.kt
  data/src/main/java/com/lighthouse/database/dao/GifticonDao.kt
  data/src/main/java/com/lighthouse/datasource/gifticon/GifticonLocalDataSource.kt
  data/src/main/java/com/lighthouse/datasource/gifticon/GifticonLocalDataSourceImpl.kt
  data/src/main/java/com/lighthouse/mapper/GifticonEntityMapper.kt
  data/src/main/java/com/lighthouse/repository/GifticonRepositoryImpl.kt
  domain/src/main/java/com/lighthouse/domain/model/DbResult.kt
  domain/src/main/java/com/lighthouse/domain/repository/GifticonRepository.kt
  domain/src/main/java/com/lighthouse/domain/usecase/GetGifticonUseCase.kt
  presentation/src/main/java/com/lighthouse/presentation/binding/TextView.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/detailgifticon/GifticonDetailActivity.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/detailgifticon/GifticonDetailViewModel.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/detailgifticon/dialog/UseGifticonDialog.kt
  presentation/src/main/res/values/strings.xml
Labels: feat, style

#91 데이터베이스에 기프티콘 추가 동작 구현
  data/src/main/java/com/lighthouse/database/dao/GifticonDao.kt
  data/src/main/java/com/lighthouse/database/mapper/GifticonEntity.kt
  data/src/main/java/com/lighthouse/datasource/gifticon/GifticonLocalDataSource.kt
  data/src/main/java/com/lighthouse/datasource/gifticon/GifticonLocalDataSourceImpl.kt
  data/src/main/java/com/lighthouse/repository/GifticonRepositoryImpl.kt
  domain/src/main/java/com/lighthouse/domain/repository/GifticonRepository.kt
  domain/src/main/java/com/lighthouse/domain/usecase/SaveGifticonsUseCase.kt
Labels: feat

#87 PIN UI 관련 작업
  presentation/src/main/java/com/lighthouse/presentation/ui/security/PinFragment.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/security/SecurityActivity.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/security/SecurityViewModel.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/security/event/SecurityDirections.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/security/fingerprint/FingerprintAuth.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/security/fingerprint/FingerprintAuthManager.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/security/fingerprint/FingerprintBottomSheetDialog.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/security/fingerprint/FingerprintFragment.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/security/fingerprint/biometric/BiometricAuth.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/security/fingerprint/biometric/CryptoObjectHelper.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/security/fingerprint/biometric/FingerprintAuth.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/security/fingerprint/biometric/FingerprintAuthCallback.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/security/fingerprint/biometric/FingerprintAuthManager.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/security/fingerprint/biometric/LegacyFingerprintAuth.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/security/pin/PinFragment.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/security/pin/PinSettingType.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/security/pin/PinViewModel.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/signin/SignInFragment.kt
  presentation/src/main/res/drawable/ic_pin_backspace.xml
  presentation/src/main/res/drawable/ic_pin_border.xml
  presentation/src/main/res/drawable/ic_pin_filled.xml
  presentation/src/main/res/layout/fragment_fingerprint.xml
  presentation/src/main/res/layout/fragment_pin.xml
  presentation/src/main/res/values/strings.xml
Labels: feat, style

#88 CropImageView 기능 구현
  data/src/main/java/com/lighthouse/datasource/GalleryImageLocalSourceImpl.kt
  data/src/main/java/com/lighthouse/datasource/GalleryImagePagingSource.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/cropgifticon/event/CropGifticonEvents.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/cropgifticon/view/CropImageView.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/gallery/GalleryActivity.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/gallery/GalleryViewModel.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/gallery/adapter/GalleryAdapter.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/gallery/event/GalleryEvents.kt
  presentation/src/main/java/com/lighthouse/presentation/util/recycler/GridSectionSpaceItemDecoration.kt
  presentation/src/main/java/com/lighthouse/presentation/util/recycler/GridSpaceItemDecoration.kt
  presentation/src/main/java/com/lighthouse/presentation/util/recycler/ListSpaceItemDecoration.kt
  presentation/src/main/res/drawable/img_test_gifticon.jpg
Labels: feat, fix, style

#93 기프티콘 사용 처리 Room 로직 작성
  data/src/main/java/com/lighthouse/database/BeepDatabase.kt
  data/src/main/java/com/lighthouse/database/dao/GifticonDao.kt
  data/src/main/java/com/lighthouse/database/entity/UsageHistoryEntity.kt
  data/src/main/java/com/lighthouse/database/mapper/GifticonMapper.kt
  data/src/main/java/com/lighthouse/database/mapper/UsageHistoryMapper.kt
  data/src/main/java/com/lighthouse/datasource/gifticon/GifticonLocalDataSource.kt
  data/src/main/java/com/lighthouse/datasource/gifticon/GifticonLocalDataSourceImpl.kt
  data/src/main/java/com/lighthouse/repository/GifticonRepositoryImpl.kt
  domain/src/main/java/com/lighthouse/domain/repository/GifticonRepository.kt
  domain/src/main/java/com/lighthouse/domain/usecase/GetUsageHistoriesUseCase.kt
  domain/src/main/java/com/lighthouse/domain/usecase/UnUseGifticonUseCase.kt
  domain/src/main/java/com/lighthouse/domain/usecase/UseCashCardGifticonUseCase.kt
  domain/src/main/java/com/lighthouse/domain/usecase/UseGifticonUseCase.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/detailgifticon/GifticonDetailViewModel.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/gifticonlist/GifticonListFragment.kt
  presentation/src/main/res/layout/activity_gifticon_detail.xml
  presentation/src/main/res/layout/fragment_gifticon_list.xml
Labels: feat, style

#99 다크 테마 색상 적용 및 화면 세로 고정 설정
  presentation/src/main/AndroidManifest.xml
  presentation/src/main/res/values-night/themes.xml
  presentation/src/main/res/values/colors.xml
  presentation/src/main/res/values/themes.xml
Labels: style

#100 카카오 서치 / navermap 현재 위치 / Location callbackFlow
  app/src/main/java/com/lighthouse/di/DataModule.kt
  buildSrc/src/main/kotlin/Dependencies.kt
  data/src/main/AndroidManifest.xml
  data/src/main/java/com/lighthouse/database/BeepDatabase.kt
  data/src/main/java/com/lighthouse/database/converter/DmsConverter.kt
  data/src/main/java/com/lighthouse/database/dao/BrandWithSectionDao.kt
  data/src/main/java/com/lighthouse/database/entity/BrandLocationEntity.kt
  data/src/main/java/com/lighthouse/database/entity/BrandWithSections.kt
  data/src/main/java/com/lighthouse/database/entity/SectionEntity.kt
  data/src/main/java/com/lighthouse/datasource/brand/BrandLocalDataSource.kt
  data/src/main/java/com/lighthouse/datasource/brand/BrandLocalDataSourceImpl.kt
  data/src/main/java/com/lighthouse/datasource/brand/BrandRemoteDataSource.kt
  data/src/main/java/com/lighthouse/datasource/brand/BrandRemoteDataSourceImpl.kt
  data/src/main/java/com/lighthouse/mapper/BrandEntityMapper.kt
  data/src/main/java/com/lighthouse/mapper/BrandPlaceInfoDataContainerMapper.kt
  data/src/main/java/com/lighthouse/network/NetworkApiService.kt
  data/src/main/java/com/lighthouse/repository/BrandRepositoryImpl.kt
  data/src/main/java/com/lighthouse/repository/LocationRepositoryImpl.kt
  data/src/main/java/com/lighthouse/util/LocationConverter.kt
  domain/src/main/java/com/lighthouse/domain/LocationConverter.kt
  domain/src/main/java/com/lighthouse/domain/repository/BrandRepository.kt
  domain/src/main/java/com/lighthouse/domain/repository/LocationRepository.kt
  domain/src/main/java/com/lighthouse/domain/usecase/GetBrandPlaceInfosUseCase.kt
  domain/src/main/java/com/lighthouse/domain/usecase/GetUserLocationUseCase.kt
  domain/src/test/java/com/lighthouse/domain/usecase/GetBrandPlaceInfosUseCaseTest.kt
  presentation/src/main/AndroidManifest.xml
  presentation/src/main/java/com/lighthouse/presentation/ui/main/MainActivity.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/main/MainViewModel.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/main/event/MainDirections.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/map/FusedLocationProvider.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/map/MapActivity.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/map/MapViewModel.kt
  presentation/src/main/res/layout/activity_main.xml
  presentation/src/main/res/values/colors.xml
  presentation/src/test/kotlin/com/lighthouse/presentation/ui/map/MapViewModelTest.kt
Labels: feat, style, chore, test

#102 기프티콘 사용 기록 표시
  data/src/main/java/com/lighthouse/repository/GifticonRepositoryImpl.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/detailgifticon/GifticonDetailActivity.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/detailgifticon/GifticonDetailViewModel.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/detailgifticon/dialog/UsageHistoryAdapter.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/gifticonlist/GifticonListFragment.kt
  presentation/src/main/res/layout/activity_gifticon_detail.xml
  presentation/src/main/res/layout/dialog_usage_history.xml
  presentation/src/main/res/layout/dialog_use_gifticon.xml
  presentation/src/main/res/layout/fragment_gifticon_list.xml
  presentation/src/main/res/layout/item_usage_history.xml
  presentation/src/main/res/values/strings.xml
  presentation/src/main/res/values/styles.xml
  presentation/src/main/res/values/themes.xml
Labels: feat, bug, style

#106 DataStore에 PIN 을 암호화하여 저장/로드
  app/src/main/java/com/lighthouse/di/DataModule.kt
  app/src/main/java/com/lighthouse/di/DatabaseModule.kt
  buildSrc/src/main/kotlin/Dependencies.kt
  data/src/main/java/com/lighthouse/repository/SecurityRepositoryImpl.kt
  data/src/main/java/com/lighthouse/repository/UserPreferencesRepositoryImpl.kt
  data/src/main/java/com/lighthouse/util/CryptoObjectHelper.kt
  domain/src/main/java/com/lighthouse/domain/LocationConverter.kt
  domain/src/main/java/com/lighthouse/domain/model/UserPreferenceOption.kt
  domain/src/main/java/com/lighthouse/domain/repository/SecurityRepository.kt
  domain/src/main/java/com/lighthouse/domain/repository/UserPreferencesRepository.kt
  domain/src/main/java/com/lighthouse/domain/usecase/GetCorrespondWithPinUseCase.kt
  domain/src/main/java/com/lighthouse/domain/usecase/GetFingerprintCipherUseCase.kt
  domain/src/main/java/com/lighthouse/domain/usecase/SavePinUseCase.kt
  domain/src/main/java/com/lighthouse/domain/usecase/UpdatePinUseCase.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/security/SecurityActivity.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/security/fingerprint/biometric/CryptoObjectHelper.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/security/fingerprint/biometric/LegacyFingerprintAuth.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/security/pin/PinFragment.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/security/pin/PinSettingType.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/security/pin/PinViewModel.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/setting/SecurityOption.kt
  presentation/src/main/res/anim/anim_fadein_up.xml
  presentation/src/main/res/drawable/ic_check.xml
  presentation/src/main/res/layout/fragment_pin.xml
  presentation/src/main/res/values/colors.xml
  presentation/src/main/res/values/strings.xml
Labels: feat, style, chore

#107 네이버 맵 하단 viewpager2 / 마커 클릭 이벤트
  domain/src/main/java/com/lighthouse/domain/LocationConverter.kt
  domain/src/main/java/com/lighthouse/domain/usecase/GetBrandPlaceInfosUseCase.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/map/MapActivity.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/map/MapViewModel.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/map/adapter/MapGifticonAdapter.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/map/event/MarkerClickEvent.kt
  presentation/src/main/res/layout/activity_map.xml
  presentation/src/main/res/layout/item_gifticon_horizontal.xml
Labels: feat, style

#109 기프티콘 정보 수정 구현 (일부 미구현)
  data/src/main/java/com/lighthouse/database/dao/GifticonDao.kt
  data/src/main/java/com/lighthouse/datasource/gifticon/GifticonLocalDataSource.kt
  data/src/main/java/com/lighthouse/datasource/gifticon/GifticonLocalDataSourceImpl.kt
  data/src/main/java/com/lighthouse/repository/GifticonRepositoryImpl.kt
  domain/src/main/java/com/lighthouse/domain/repository/GifticonRepository.kt
  domain/src/main/java/com/lighthouse/domain/usecase/UpdateGifticonInfoUseCase.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/detailgifticon/Event.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/detailgifticon/GifticonDetailActivity.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/detailgifticon/GifticonDetailViewModel.kt
  presentation/src/main/res/layout/fragment_cash_card_gifticon_info.xml
  presentation/src/main/res/layout/fragment_standard_gifticon_info.xml
  presentation/src/main/res/values/strings.xml
Labels: feat, style

#114 화폐 단위를 표현하는 커스텀 EditText  작성
  domain/src/test/java/com/lighthouse/domain/usecase/GetBrandPlaceInfosUseCaseTest.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/common/ConcurrencyEditText.kt
  presentation/src/main/res/layout/custom_concurrency_edit_text.xml
  presentation/src/main/res/layout/fragment_gifticon_list.xml
  presentation/src/main/res/values/attrs.xml
Labels: feat, style, test

#113 기프티콘 사용 시 보안 옵션에 따른 인증 구현
  app/src/main/java/com/lighthouse/di/DatabaseModule.kt
  data/src/main/java/com/lighthouse/repository/UserPreferencesRepositoryImpl.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/detailgifticon/GifticonDetailActivity.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/detailgifticon/GifticonDetailViewModel.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/security/AuthCallback.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/security/AuthManager.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/security/SecurityViewModel.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/security/fingerprint/BiometricAuth.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/security/fingerprint/FingerprintBottomSheetDialog.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/security/fingerprint/FingerprintFragment.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/security/fingerprint/biometric/FingerprintAuth.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/security/fingerprint/biometric/FingerprintAuthCallback.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/security/fingerprint/biometric/FingerprintAuthManager.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/security/fingerprint/biometric/LegacyFingerprintAuth.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/security/pin/PinDialog.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/security/pin/PinDialogViewModel.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/security/pin/PinFragment.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/security/pin/PinSettingViewModel.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/security/pin/PinViewModel.kt
  presentation/src/main/java/com/lighthouse/presentation/util/UserPreference.kt
  presentation/src/main/res/layout/fragment_pin.xml
  presentation/src/main/res/values/strings.xml
Labels: feat, style

#126 PinDialog viewBinding 수정
  presentation/src/main/java/com/lighthouse/presentation/ui/security/pin/PinDialog.kt
Labels: feat, fix

#128 location 버전 대응 / permission 추가 / map marker 커스텀 구현
  data/src/main/AndroidManifest.xml
  data/src/main/java/com/lighthouse/database/entity/BrandLocationEntity.kt
  data/src/main/java/com/lighthouse/datasource/brand/BrandRemoteDataSourceImpl.kt
  data/src/main/java/com/lighthouse/mapper/BrandEntityMapper.kt
  data/src/main/java/com/lighthouse/mapper/BrandPlaceInfoDataContainerMapper.kt
  data/src/main/java/com/lighthouse/repository/LocationRepositoryImpl.kt
  domain/src/main/java/com/lighthouse/domain/model/BrandPlaceInfo.kt
  presentation/src/main/AndroidManifest.xml
  presentation/src/main/java/com/lighthouse/presentation/mapper/BrandPlaceInfoUiModelMapper.kt
  presentation/src/main/java/com/lighthouse/presentation/model/BrandPlaceInfoUiModel.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/home/HomeFragment.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/home/HomeViewModel.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/main/MainActivity.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/main/MainViewModel.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/map/MapActivity.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/map/MapViewModel.kt
  presentation/src/main/res/drawable/ic_marker_accommodation.xml
  presentation/src/main/res/drawable/ic_marker_base.xml
  presentation/src/main/res/drawable/ic_marker_cafe.xml
  presentation/src/main/res/drawable/ic_marker_convenience.xml
  presentation/src/main/res/drawable/ic_marker_culture.xml
  presentation/src/main/res/drawable/ic_marker_market.xml
  presentation/src/main/res/drawable/ic_marker_restaurant.xml
  presentation/src/main/res/layout/fragment_home.xml
  presentation/src/main/res/layout/item_gifticon_horizontal.xml
  presentation/src/main/res/values/strings.xml
Labels: feat, style

#129 기프티콘 추가 UI 작업 마무리
  presentation/src/main/java/com/lighthouse/presentation/binding/EditText.kt
  presentation/src/main/java/com/lighthouse/presentation/extension/KotlinExtention.kt
  presentation/src/main/java/com/lighthouse/presentation/mapper/AddGifticonUIModelMapper.kt
  presentation/src/main/java/com/lighthouse/presentation/model/AddGifticonUIModel.kt
  presentation/src/main/java/com/lighthouse/presentation/model/EditTextInfo.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/addgifticon/AddGifticonActivity.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/addgifticon/AddGifticonEvent.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/addgifticon/AddGifticonFocus.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/addgifticon/AddGifticonValid.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/addgifticon/AddGifticonViewModel.kt
  presentation/src/main/res/color/on_surface_12.xml
  presentation/src/main/res/color/on_surface_9.xml
  presentation/src/main/res/drawable/bg_gifticon_memo.xml
  presentation/src/main/res/layout/activity_add_gifticon.xml
  presentation/src/main/res/layout/activity_crop_gifticon.xml
  presentation/src/main/res/layout/activity_gallery.xml
  presentation/src/main/res/layout/fragment_cash_card_gifticon_info.xml
  presentation/src/main/res/layout/fragment_standard_gifticon_info.xml
  presentation/src/main/res/layout/item_add_goto_gallery.xml
  presentation/src/main/res/values-night/themes.xml
  presentation/src/main/res/values/strings.xml
Labels: feat, style
