Repository boostcampwm-2022/android04-BEEP, pull requests merged in 2022-12, with the labels that each got.

#141 Issues #130 fix: 수동 이미지 추가 구현
  data/src/main/java/com/lighthouse/datasource/gifticon/GifticonImageSource.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/addgifticon/AddGifticonActivity.kt
  presentation/src/main/res/drawable/bg_on_surface_12.xml
  presentation/src/main/res/drawable/bg_on_surface_50.xml
  presentation/src/main/res/drawable/ic_item_delete.xml
  presentation/src/main/res/layout/activity_add_gifticon.xml
Labels: feat, style

#142 home 화면에서 데이터 불러오기 / map과 연결 / 근처 기프티콘 m 보여주기
  README.md
  app/src/main/java/com/lighthouse/BeepApplication.kt
  data/src/main/java/com/lighthouse/repository/BrandRepositoryImpl.kt
  domain/src/main/java/com/lighthouse/domain/LocationConverter.kt
  domain/src/main/java/com/lighthouse/domain/repository/BrandRepository.kt
  domain/src/main/java/com/lighthouse/domain/usecase/GetNearBrandsUseCase.kt
  presentation/src/main/java/com/lighthouse/presentation/mapper/NearGifticonUiModelMapper.kt
  presentation/src/main/java/com/lighthouse/presentation/model/GifticonUiModel.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/home/HomeFragment.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/home/HomeViewModel.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/home/adapter/NearGifticonAdapter.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/main/MainViewModel.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/map/MapActivity.kt
  presentation/src/main/res/layout/fragment_home.xml
  presentation/src/main/res/layout/item_near_gifticon_vertical.xml
  presentation/src/main/res/values/strings.xml
  presentation/src/main/res/values/styles.xml
Labels: feat, fix, style, docs

#145 보안 옵션 변경 (완)
  presentation/src/main/java/com/lighthouse/presentation/extra/Extras.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/common/FragmentViewBindingDelegate.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/security/AuthManager.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/security/SecurityViewModel.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/security/pin/PinDialog.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/security/pin/PinDialogViewModel.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/security/pin/PinFragment.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/setting/SettingFragment.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/setting/SettingMainFragment.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/setting/SettingSecurityFragment.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/setting/SettingSecurityViewModel.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/setting/SettingViewModel.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/signin/SignInFragment.kt
  presentation/src/main/res/layout/fragment_pin.xml
  presentation/src/main/res/layout/fragment_security_setting.xml
  presentation/src/main/res/values/strings.xml
Labels: feat, fix, style

#149 툴바에 기프티콘 정렬 기준을 선택하는 드롭다운메뉴 추가
  data/src/main/java/com/lighthouse/database/dao/GifticonDao.kt
  data/src/main/java/com/lighthouse/datasource/gifticon/GifticonLocalDataSource.kt
  data/src/main/java/com/lighthouse/datasource/gifticon/GifticonLocalDataSourceImpl.kt
  data/src/main/java/com/lighthouse/datasource/gifticon/GifticonLocalFakeDataSourceImpl.kt
  data/src/main/java/com/lighthouse/repository/GifticonRepositoryImpl.kt
  domain/src/main/java/com/lighthouse/domain/model/SortBy.kt
  domain/src/main/java/com/lighthouse/domain/repository/GifticonRepository.kt
  domain/src/main/java/com/lighthouse/domain/usecase/GetFilteredGifticonsUseCase.kt
  presentation/src/main/java/com/lighthouse/presentation/extension/Date.kt
  presentation/src/main/java/com/lighthouse/presentation/extension/KotlinExtention.kt
  presentation/src/main/java/com/lighthouse/presentation/mapper/GifticonSortByMapper.kt
  presentation/src/main/java/com/lighthouse/presentation/model/GifticonSortBy.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/gifticonlist/GifticonListFragment.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/gifticonlist/GifticonListViewModel.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/gifticonlist/GifticonListViewState.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/gifticonlist/component/GifticonList.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/gifticonlist/component/GifticonListScreen.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/gifticonlist/component/GifticonListToolBar.kt
  presentation/src/main/res/values/strings.xml
Labels: feat, refactor, style

#151 기프티콘 생성 일자 정보 추가
  app/src/main/java/com/lighthouse/BeepApplication.kt
  buildSrc/src/main/kotlin/Dependencies.kt
  data/src/main/java/com/lighthouse/database/dao/GifticonDao.kt
  data/src/main/java/com/lighthouse/database/entity/GifticonEntity.kt
  data/src/main/java/com/lighthouse/database/mapper/GifticonMapper.kt
  data/src/main/java/com/lighthouse/datasource/gifticon/GifticonLocalDataSourceImpl.kt
  data/src/main/java/com/lighthouse/datasource/gifticon/GifticonLocalFakeDataSourceImpl.kt
  data/src/main/java/com/lighthouse/mapper/GifticonEntityMapper.kt
  domain/src/main/java/com/lighthouse/domain/model/Gifticon.kt
  domain/src/main/java/com/lighthouse/domain/model/GifticonSaveRequest.kt
  domain/src/main/java/com/lighthouse/domain/usecase/GetGifticonsByLocationUseCase.kt
  domain/src/main/java/com/lighthouse/domain/usecase/UseCashCardGifticonUseCase.kt
  domain/src/main/java/com/lighthouse/domain/usecase/UseGifticonUseCase.kt
  domain/src/main/java/com/lighthouse/domain/util/DateTime.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/gifticonlist/component/Preview.kt
Labels: feat, fix, style, chore

#154 파이어베이스 유저 관련 작업
  app/src/main/java/com/lighthouse/di/DatabaseModule.kt
  data/src/main/java/com/lighthouse/repository/UserPreferencesRepositoryImpl.kt
  domain/src/main/java/com/lighthouse/domain/usecase/setting/GetCorrespondWithPinUseCase.kt
  domain/src/main/java/com/lighthouse/domain/usecase/setting/GetSecurityOptionUseCase.kt
  domain/src/main/java/com/lighthouse/domain/usecase/setting/SavePinUseCase.kt
  domain/src/main/java/com/lighthouse/domain/usecase/setting/SaveSecurityOptionUseCase.kt
  presentation/src/main/AndroidManifest.xml
  presentation/src/main/java/com/lighthouse/presentation/ui/security/SecurityViewModel.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/security/pin/PinDialogViewModel.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/security/pin/PinSettingViewModel.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/setting/SettingMainFragment.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/setting/SettingViewModel.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/signin/SignInFragment.kt
  presentation/src/main/java/com/lighthouse/presentation/util/UserPreference.kt
Labels: feat, refactor

#156 가격 입력 텍스트 필드 컴포즈로 작성
  app/src/main/java/com/lighthouse/BeepApplication.kt
  presentation/src/main/java/com/lighthouse/presentation/extension/KotlinExtention.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/common/ConcurrencyEditText.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/common/ConcurrencyTextField.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/common/compose/ConcurrencyTextField.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/detailgifticon/CashCardGifticonInfoFragment.kt
  presentation/src/main/res/layout/custom_concurrency_edit_text.xml
  presentation/src/main/res/values/attrs.xml
Labels: feat, style

#161 API 33 저장소 권한 대응
  app/src/main/AndroidManifest.xml
  presentation/src/main/java/com/lighthouse/presentation/ui/main/MainActivity.kt
Labels: feat

#157 기프티콘 만료 임박 알림
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/lighthouse/BeepApplication.kt
  app/src/main/java/com/lighthouse/di/ProviderModule.kt
  app/src/main/java/com/lighthouse/di/WorkManagerInitializer.kt
  buildSrc/src/main/kotlin/Dependencies.kt
  data/src/main/java/com/lighthouse/database/dao/GifticonDao.kt
  data/src/main/java/com/lighthouse/datasource/gifticon/GifticonLocalDataSource.kt
  presentation/src/main/AndroidManifest.xml
  presentation/src/main/java/com/lighthouse/presentation/background/BeepWorkManager.kt
  presentation/src/main/java/com/lighthouse/presentation/background/NotificationHelper.kt
  presentation/src/main/java/com/lighthouse/presentation/background/NotificationWorker.kt
  presentation/src/main/java/com/lighthouse/presentation/extra/Extras.kt
  presentation/src/main/res/values/strings.xml
Labels: feat, style, chore

#158 기존의 EditText 를 ConcurrencyTextField 로 교체
  presentation/src/main/java/com/lighthouse/presentation/ui/common/ConcurrencyTextField.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/common/compose/ConcurrencyTextField.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/detailgifticon/CashCardGifticonInfoFragment.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/detailgifticon/GifticonDetailActivity.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/detailgifticon/GifticonDetailViewModel.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/detailgifticon/dialog/UseGifticonDialog.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/security/AuthCallback.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/security/fingerprint/FingerprintFragment.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/security/pin/PinFragment.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/setting/SettingMainFragment.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/setting/SettingSecurityFragment.kt
  presentation/src/main/res/layout/dialog_use_gifticon.xml
  presentation/src/main/res/layout/fragment_cash_card_gifticon_info.xml
Labels: feat, refactor, style

#169 위젯 작업 / home, map의 viewModel 조금 수정 /
  app/src/main/AndroidManifest.xml
  buildSrc/src/main/kotlin/Dependencies.kt
  data/src/main/java/com/lighthouse/database/dao/GifticonDao.kt
  data/src/main/java/com/lighthouse/datasource/location/SharedLocationManager.kt
  domain/src/main/java/com/lighthouse/domain/LocationConverter.kt
  presentation/build.gradle.kts
  presentation/src/main/AndroidManifest.xml
  presentation/src/main/java/com/lighthouse/presentation/background/BeepWorkManager.kt
  presentation/src/main/java/com/lighthouse/presentation/mapper/NearGifticonUiModelMapper.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/home/HomeFragment.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/home/HomeViewModel.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/home/adapter/NearGifticonAdapter.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/map/MapActivity.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/map/MapViewModel.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/map/adapter/GifticonAdapter.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/widget/BeepWidget.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/widget/BeepWidgetInfoStateDefinition.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/widget/BeepWidgetReceiver.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/widget/BeepWidgetWorker.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/widget/WidgetState.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/widget/component/GlanceKtx.kt
  presentation/src/main/java/com/lighthouse/presentation/util/Constant.kt
  presentation/src/main/res/drawable/bg_widget_small_6.xml
  presentation/src/main/res/drawable/ic_widget_accommodation.xml
  presentation/src/main/res/drawable/ic_widget_cafe.xml
  presentation/src/main/res/drawable/ic_widget_convenience.xml
  presentation/src/main/res/drawable/ic_widget_culture.xml
  presentation/src/main/res/drawable/ic_widget_market.xml
  presentation/src/main/res/drawable/ic_widget_refresh_24.xml
  presentation/src/main/res/drawable/ic_widget_restaurant.xml
  presentation/src/main/res/layout/item_gifticon_horizontal.xml
  presentation/src/main/res/layout/item_gifticon_vertical.xml
  presentation/src/main/res/layout/item_near_gifticon_vertical.xml
  presentation/src/main/res/layout/widget_loading_layout.xml
  presentation/src/main/res/values/colors.xml
  presentation/src/main/res/values/strings.xml
  presentation/src/main/res/xml/gifticon_widget_provider.xml
Labels: feat, style, chore

#167 기프티콘 사용 로직 작성
  presentation/src/main/java/com/lighthouse/presentation/ui/detailgifticon/Event.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/detailgifticon/GifticonDetailActivity.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/detailgifticon/GifticonDetailViewModel.kt
  presentation/src/main/res/layout/dialog_use_gifticon.xml
Labels: feat, style

#173 자동 파싱 기능 구현
  app/src/main/java/com/lighthouse/di/DataModule.kt
  app/src/main/java/com/lighthouse/di/ProviderModule.kt
  buildSrc/src/main/kotlin/Dependencies.kt
  data/src/main/java/com/lighthouse/datasource/gifticon/GifticonImageRecognizeSource.kt
  data/src/main/java/com/lighthouse/datasource/gifticon/GifticonImageSource.kt
  data/src/main/java/com/lighthouse/repository/GifticonImageRecognizeRepositoryImpl.kt
  data/src/main/java/com/lighthouse/util/recognizer/GifticonRecognizeInfo.kt
  data/src/main/java/com/lighthouse/util/recognizer/GifticonRecognizer.kt
  data/src/main/java/com/lighthouse/util/recognizer/parser/BaseParser.kt
  data/src/main/java/com/lighthouse/util/recognizer/parser/CashCardRegex.kt
  data/src/main/java/com/lighthouse/util/recognizer/parser/OriginParser.kt
  data/src/main/java/com/lighthouse/util/recognizer/processor/BaseProcessor.kt
  data/src/main/java/com/lighthouse/util/recognizer/processor/GifticonProcessImage.kt
  data/src/main/java/com/lighthouse/util/recognizer/processor/GifticonProcessResult.kt
  data/src/main/java/com/lighthouse/util/recognizer/processor/GifticonProcessText.kt
  data/src/main/java/com/lighthouse/util/recognizer/processor/GifticonProcessTextTag.kt
  data/src/main/java/com/lighthouse/util/recognizer/processor/ScaleProcessor.kt
  data/src/main/java/com/lighthouse/util/recognizer/recognizer/TemplateRecognizer.kt
  data/src/main/java/com/lighthouse/util/recognizer/recognizer/TextRecognizer.kt
  data/src/main/java/com/lighthouse/util/recognizer/recognizer/giftishow/GiftishowParser.kt
  data/src/main/java/com/lighthouse/util/recognizer/recognizer/giftishow/GiftishowProcessor.kt
  data/src/main/java/com/lighthouse/util/recognizer/recognizer/giftishow/GiftishowRecognizer.kt
  data/src/main/java/com/lighthouse/util/recognizer/recognizer/kakao/KakaoParser.kt
  data/src/main/java/com/lighthouse/util/recognizer/recognizer/kakao/KakaoProcessor.kt
  data/src/main/java/com/lighthouse/util/recognizer/recognizer/kakao/KakaoRecognizer.kt
  data/src/main/java/com/lighthouse/util/recognizer/recognizer/smilecon/SmileConParser.kt
  data/src/main/java/com/lighthouse/util/recognizer/recognizer/smilecon/SmileConProcessor.kt
  data/src/main/java/com/lighthouse/util/recognizer/recognizer/smilecon/SmileConRecognizer.kt
  data/src/main/java/com/lighthouse/util/recognizer/recognizer/syrup/SyrupParser.kt
  data/src/main/java/com/lighthouse/util/recognizer/recognizer/syrup/SyrupProcessor.kt
  data/src/main/java/com/lighthouse/util/recognizer/recognizer/syrup/SyrupRecognizer.kt
  domain/src/main/java/com/lighthouse/domain/repository/GifticonImageRecognizeRepository.kt
  domain/src/main/java/com/lighthouse/domain/usecase/addgifticon/RecognizeGifticonImageUseCase.kt
  domain/src/main/java/com/lighthouse/domain/usecase/addgifticon/SaveGifticonsUseCase.kt
  domain/src/main/java/com/lighthouse/domain/usecase/gallery/GetGalleryImagesUseCase.kt
  presentation/src/main/java/com/lighthouse/presentation/mapper/GalleryUIModelMapper.kt
  presentation/src/main/java/com/lighthouse/presentation/mapper/GifticonForAdditionMapper.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/addgifticon/AddGifticonViewModel.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/gallery/GalleryViewModel.kt
Labels: feat, chore

#175 기프티콘 상품 이미지 추가
  buildSrc/src/main/kotlin/Dependencies.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/detailgifticon/GifticonDetailActivity.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/gifticonlist/component/GifticonList.kt
  presentation/src/main/res/values/strings.xml
Labels: feat, style, chore

#170 기프티콘 목록에서 기한 만료된 기프티콘 표시 옵션 추가 및 다이얼로그 수정
  data/src/main/java/com/lighthouse/database/dao/GifticonDao.kt
  data/src/main/java/com/lighthouse/datasource/gifticon/GifticonLocalDataSource.kt
  data/src/main/java/com/lighthouse/datasource/gifticon/GifticonLocalDataSourceImpl.kt
  data/src/main/java/com/lighthouse/repository/GifticonRepositoryImpl.kt
  domain/src/main/java/com/lighthouse/domain/repository/GifticonRepository.kt
  domain/src/main/java/com/lighthouse/domain/usecase/GetAllBrandsUseCase.kt
  domain/src/main/java/com/lighthouse/domain/util/DateTime.kt
  presentation/src/main/java/com/lighthouse/presentation/extension/Date.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/common/compose/TextCheckbox.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/gifticonlist/GifticonListViewModel.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/gifticonlist/GifticonListViewState.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/gifticonlist/component/BrandChip.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/gifticonlist/component/GifticonListScreen.kt
  presentation/src/main/java/com/lighthouse/presentation/util/flow/Combine.kt
  presentation/src/main/res/values/strings.xml
Labels: feat, style

#172 위젯 기프티콘 클릭 / 몇몇 클래스 컨벤션에 맞게 이름 변경
  buildSrc/src/main/kotlin/Dependencies.kt
  data/src/main/java/com/lighthouse/datasource/location/SharedLocationManager.kt
  presentation/src/main/AndroidManifest.xml
  presentation/src/main/java/com/lighthouse/presentation/extra/Extras.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/map/HomeEvent.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/map/MapActivity.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/map/MapViewModel.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/widget/BeepWidget.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/widget/BeepWidgetWorker.kt
  presentation/src/main/java/com/lighthouse/presentation/util/Constant.kt
  presentation/src/main/res/drawable/test.jpg
  presentation/src/main/res/layout/activity_map.xml
  presentation/src/main/res/layout/item_gifticon_horizontal.xml
  presentation/src/main/res/values/strings.xml
  presentation/src/main/res/values/styles.xml
Labels: feat, style, chore

#179 기프티콘 목록 버그 수정
  app/src/main/java/com/lighthouse/BeepApplication.kt
  data/src/main/java/com/lighthouse/database/dao/GifticonDao.kt
  domain/src/main/java/com/lighthouse/domain/util/DateTime.kt
Labels: feat, bug

#181 다중 선택 일단 동작하게 수정
  app/src/main/java/com/lighthouse/di/DataModule.kt
  app/src/main/java/com/lighthouse/di/DatabaseModule.kt
  app/src/main/java/com/lighthouse/di/ProviderModule.kt
  data/src/main/java/com/lighthouse/database/BeepDatabase.kt
  data/src/main/java/com/lighthouse/database/converter/RectConverter.kt
  data/src/main/java/com/lighthouse/database/dao/GifticonCropDao.kt
  data/src/main/java/com/lighthouse/database/entity/GifticonCropEntity.kt
  data/src/main/java/com/lighthouse/database/mapper/GifticonCropEntityMapper.kt
  data/src/main/java/com/lighthouse/database/mapper/GifticonFroAddtionMapper.kt
  data/src/main/java/com/lighthouse/database/mapper/GifticonMapper.kt
  data/src/main/java/com/lighthouse/datasource/gifticon/GifticonImageRecognizeSource.kt
  data/src/main/java/com/lighthouse/datasource/gifticon/GifticonImageSource.kt
  data/src/main/java/com/lighthouse/datasource/gifticoncrop/GifticonCropLocalDataSource.kt
  data/src/main/java/com/lighthouse/datasource/gifticoncrop/GifticonCropLocalDataSourceImpl.kt
  data/src/main/java/com/lighthouse/mapper/GifticonCropMapper.kt
  data/src/main/java/com/lighthouse/mapper/RectMapper.kt
  data/src/main/java/com/lighthouse/mapper/RectangleMapper.kt
  data/src/main/java/com/lighthouse/repository/GifticonRepositoryImpl.kt
  data/src/main/java/com/lighthouse/util/recognizer/GifticonRecognizer.kt
  data/src/main/java/com/lighthouse/util/recognizer/parser/OriginParser.kt
  domain/src/main/java/com/lighthouse/domain/model/GifticonCrop.kt
  domain/src/main/java/com/lighthouse/domain/model/GifticonForAddition.kt
  domain/src/main/java/com/lighthouse/domain/model/Rectangle.kt
  domain/src/main/java/com/lighthouse/domain/repository/GifticonRepository.kt
  domain/src/main/java/com/lighthouse/domain/usecase/detail/UpdateGifticonCropUseCase.kt
  presentation/src/main/java/com/lighthouse/presentation/mapper/AddGifticonUIModelMapper.kt
  presentation/src/main/java/com/lighthouse/presentation/mapper/GifticonForAdditionMapper.kt
  presentation/src/main/java/com/lighthouse/presentation/mapper/RectMapper.kt
  presentation/src/main/java/com/lighthouse/presentation/mapper/RectangleMapper.kt
  presentation/src/main/java/com/lighthouse/presentation/model/AddGifticonUIModel.kt
  presentation/src/main/java/com/lighthouse/presentation/model/EditTextInfo.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/addgifticon/AddGifticonViewModel.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/addgifticon/adapter/AddGifticonAdapter.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/gallery/adapter/list/GalleryItemViewHolder.kt
  presentation/src/main/res/layout/activity_add_gifticon.xml
Labels: feat, style

#188 기프티콘 자동 파서 개선
  data/src/main/java/com/lighthouse/database/dao/GifticonDao.kt
  data/src/main/java/com/lighthouse/datasource/gifticon/GifticonLocalDataSource.kt
  data/src/main/java/com/lighthouse/datasource/gifticon/GifticonLocalDataSourceImpl.kt
  data/src/main/java/com/lighthouse/repository/GifticonRepositoryImpl.kt
  data/src/main/java/com/lighthouse/util/recognizer/processor/BaseProcessor.kt
  domain/src/main/java/com/lighthouse/domain/repository/GifticonRepository.kt
  domain/src/main/java/com/lighthouse/domain/usecase/addgifticon/HasGifticonBrandUseCase.kt
  presentation/src/main/java/com/lighthouse/presentation/binding/EditText.kt
  presentation/src/main/java/com/lighthouse/presentation/extension/DialogFragment.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/addgifticon/AddGifticonActivity.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/addgifticon/AddGifticonEvent.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/addgifticon/AddGifticonScroll.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/addgifticon/AddGifticonViewModel.kt
  presentation/src/main/res/layout/activity_add_gifticon.xml
Labels: feat, style

#187 hotfix home에서 데이터를 collect하는 방식 변경
  presentation/src/main/AndroidManifest.xml
  presentation/src/main/java/com/lighthouse/presentation/binding/ImageView.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/home/HomeViewModel.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/home/adapter/NearGifticonAdapter.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/map/adapter/GifticonAdapter.kt
  presentation/src/main/res/layout/activity_map.xml
  presentation/src/main/res/values/strings.xml
Labels: feat, fix, style, chore

#189 기프티콘 사용 완료 UI 처리
  presentation/src/main/java/com/lighthouse/presentation/binding/ImageView.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/detailgifticon/GifticonDetailViewModel.kt
  presentation/src/main/res/layout/activity_gifticon_detail.xml
  presentation/src/main/res/layout/fragment_standard_gifticon_info.xml
  presentation/src/main/res/values-night/themes.xml
  presentation/src/main/res/values/strings.xml
Labels: feat, style

#191 Hotfix/0.0.1
  presentation/src/main/AndroidManifest.xml
  presentation/src/main/java/com/lighthouse/presentation/background/BeepWorkManager.kt
  presentation/src/main/java/com/lighthouse/presentation/binding/ImageView.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/common/compose/ConcurrencyTextField.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/detailgifticon/GifticonDetailViewModel.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/detailgifticon/dialog/UseGifticonDialog.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/gifticonlist/component/BrandChip.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/gifticonlist/component/GifticonList.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/gifticonlist/component/GifticonListScreen.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/gifticonlist/component/GifticonListToolBar.kt
  presentation/src/main/res/layout/fragment_pin.xml
Labels: feat, fix, style

#195 Hotfix
  data/src/main/java/com/lighthouse/util/recognizer/processor/BaseProcessor.kt
  data/src/main/java/com/lighthouse/util/recognizer/recognizer/giftishow/GiftishowProcessor.kt
  data/src/main/java/com/lighthouse/util/recognizer/recognizer/kakao/KakaoProcessor.kt
  data/src/main/java/com/lighthouse/util/recognizer/recognizer/smilecon/SmileConProcessor.kt
  data/src/main/java/com/lighthouse/util/recognizer/recognizer/syrup/SyrupProcessor.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/main/MainViewModel.kt
Labels: feat, fix

#196 map 로직 변경
  presentation/src/main/AndroidManifest.xml
  presentation/src/main/java/com/lighthouse/presentation/binding/TextBindingAdapter.kt
  presentation/src/main/java/com/lighthouse/presentation/binding/TextView.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/home/HomeViewModel.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/map/HomeEvent.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/map/MapActivity.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/map/MapEvent.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/map/MapViewModel.kt
  presentation/src/main/res/layout/item_gifticon_horizontal.xml
  presentation/src/main/res/layout/item_gifticon_vertical.xml
  presentation/src/main/res/layout/item_near_gifticon_vertical.xml
Labels: feat, fix, style

#199 설정 QA 피드백
  presentation/src/main/java/com/lighthouse/presentation/ui/main/MainActivity.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/main/MainViewModel.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/signin/SignInFragment.kt
  presentation/src/main/res/layout/fragment_security_setting.xml
  presentation/src/main/res/layout/fragment_setting_main.xml
  presentation/src/main/res/values/strings.xml
Labels: feat, fix, style

#203 brandName 소문자 대문자 대응
  data/src/main/java/com/lighthouse/datasource/brand/BrandLocalDataSourceImpl.kt
  data/src/main/java/com/lighthouse/datasource/location/SharedLocationManager.kt
  data/src/main/java/com/lighthouse/repository/BrandRepositoryImpl.kt
  domain/src/main/java/com/lighthouse/domain/model/Gifticon.kt
  domain/src/main/java/com/lighthouse/domain/usecase/GetBrandPlaceInfosUseCase.kt
  domain/src/test/java/com/lighthouse/domain/usecase/GetBrandPlaceInfosUseCaseTest.kt
  presentation/src/main/java/com/lighthouse/presentation/model/BrandPlaceInfoUiModel.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/home/HomeFragment.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/home/HomeViewModel.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/map/MapActivity.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/map/MapViewModel.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/widget/BeepWidgetWorker.kt
  presentation/src/test/kotlin/com/lighthouse/presentation/ui/map/MapViewModelTest.kt
Labels: feat, test

#206 기프티콘 리스트, 상세화면 버그 수정 및 소소한 기능 추가
  buildSrc/src/main/kotlin/Dependencies.kt
  data/src/main/java/com/lighthouse/database/dao/GifticonDao.kt
  data/src/main/java/com/lighthouse/datasource/gifticon/GifticonLocalDataSourceImpl.kt
  domain/src/main/java/com/lighthouse/domain/model/GifticonCrop.kt
  domain/src/main/java/com/lighthouse/domain/usecase/detail/GetGifticonCropUseCase.kt
  domain/src/main/java/com/lighthouse/domain/util/DateTime.kt
  presentation/src/main/java/com/lighthouse/presentation/binding/TextView.kt
  presentation/src/main/java/com/lighthouse/presentation/extension/Date.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/addgifticon/AddGifticonViewModel.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/common/dialog/datepicker/SpinnerDatePickerViewModel.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/detailgifticon/GifticonDetailActivity.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/detailgifticon/GifticonDetailEvent.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/detailgifticon/GifticonDetailViewModel.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/gifticonlist/GifticonListViewModel.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/gifticonlist/component/BrandChip.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/gifticonlist/component/GifticonList.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/gifticonlist/component/GifticonListScreen.kt
  presentation/src/main/java/com/lighthouse/presentation/util/TimeCalculator.kt
  presentation/src/main/res/layout/activity_gifticon_detail.xml
  presentation/src/main/res/layout/fragment_cash_card_gifticon_info.xml
  presentation/src/main/res/layout/fragment_standard_gifticon_info.xml
  presentation/src/main/res/values/strings.xml
Labels: feat, refactor, fix, bug, style, chore

#207 Crop Image View 사용성 개선 및 버그 수정
  presentation/src/main/java/com/lighthouse/presentation/extension/Date.kt
  presentation/src/main/java/com/lighthouse/presentation/extension/KotlinExtention.kt
  presentation/src/main/java/com/lighthouse/presentation/mapper/AddGifticonUIModelMapper.kt
  presentation/src/main/java/com/lighthouse/presentation/mapper/GalleryImageMapper.kt
  presentation/src/main/java/com/lighthouse/presentation/mapper/GalleryUIModelMapper.kt
  presentation/src/main/java/com/lighthouse/presentation/mapper/GifticonForAdditionMapper.kt
  presentation/src/main/java/com/lighthouse/presentation/model/AddGifticonUIModel.kt
  presentation/src/main/java/com/lighthouse/presentation/model/GalleryUIModel.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/addgifticon/AddGifticonViewModel.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/addgifticon/event/AddGifticonValid.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/cropgifticon/CropGifticonViewModel.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/cropgifticon/view/CropImageView.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/cropgifticon/view/OnChangeCropRectListener.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/gallery/GalleryViewModel.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/main/MainViewModel.kt
  presentation/src/main/res/layout/activity_add_gifticon.xml
  presentation/src/main/res/layout/activity_crop_gifticon.xml
  presentation/src/main/res/values/strings.xml
Labels: feat, fix, style

#210 date pattern 이 없어서 터지는 문제
  presentation/src/main/java/com/lighthouse/presentation/mapper/GalleryUIModelMapper.kt
Labels: feat, fix

#202 사용 완료 기프티콘 탭
  data/src/main/java/com/lighthouse/database/dao/GifticonDao.kt
  data/src/main/java/com/lighthouse/datasource/gifticon/GifticonLocalDataSource.kt
  data/src/main/java/com/lighthouse/datasource/gifticon/GifticonLocalDataSourceImpl.kt
  data/src/main/java/com/lighthouse/repository/GifticonRepositoryImpl.kt
  domain/src/main/java/com/lighthouse/domain/repository/GifticonRepository.kt
  domain/src/main/java/com/lighthouse/domain/usecase/GetGifticonsUseCase.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/setting/SettingMainFragment.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/setting/UsedGifticonFragment.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/setting/UsedGifticonViewModel.kt
  presentation/src/main/res/layout/fragment_setting_main.xml
  presentation/src/main/res/layout/fragment_used_gifticon.xml
  presentation/src/main/res/values/strings.xml
Labels: feat, style

#205 애니메이션 몇가지 적용
  presentation/src/main/java/com/lighthouse/presentation/binding/View.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/main/MainActivity.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/setting/SettingMainFragment.kt
  presentation/src/main/res/anim/anim_fade_in.xml
  presentation/src/main/res/anim/anim_fade_out.xml
  presentation/src/main/res/anim/anim_slide_in_bottom.xml
  presentation/src/main/res/anim/anim_slide_in_left.xml
  presentation/src/main/res/anim/anim_slide_in_right.xml
  presentation/src/main/res/anim/anim_slide_out_left.xml
  presentation/src/main/res/anim/anim_slide_out_right.xml
  presentation/src/main/res/anim/anim_slide_out_top.xml
  presentation/src/main/res/anim/anim_stamp.xml
  presentation/src/main/res/drawable/img_stamp.xml
  presentation/src/main/res/layout/activity_gifticon_detail.xml
Labels: feat, style

#209 location manager 생명주기 변경
  app/src/main/java/com/lighthouse/di/ProviderModule.kt
  data/src/main/java/com/lighthouse/datasource/location/SharedLocationManager.kt
Labels: feat, fix

#212 버그 수정 및 갤러리 로딩 속도 향상
  data/src/main/java/com/lighthouse/util/recognizer/parser/ExpiredParser.kt
  presentation/src/main/java/com/lighthouse/presentation/binding/ImageView.kt
  presentation/src/main/java/com/lighthouse/presentation/extension/ContentResolver.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/addgifticon/AddGifticonViewModel.kt
  presentation/src/main/res/layout/item_gallery.xml
  presentation/src/main/res/layout/item_selected_gallery.xml
Labels: feat, style

#211 노티에서 상세화면 진입 시 백스택 추가
  presentation/src/main/AndroidManifest.xml
  presentation/src/main/java/com/lighthouse/presentation/background/NotificationHelper.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/gifticonlist/component/GifticonListToolBar.kt
  presentation/src/main/res/layout/activity_gifticon_detail.xml
Labels: feat, style

#219 기프티콘이 여러개 존재시 Approve 한 Brand 다른 기프티콘에도 적용
  presentation/src/main/java/com/lighthouse/presentation/mapper/GalleryUIModelMapper.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/addgifticon/AddGifticonViewModel.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/addgifticon/adapter/AddCandidateGifticonViewHolder.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/addgifticon/adapter/AddGifticonAdapter.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/addgifticon/adapter/AddGifticonItemUIModel.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/cropgifticon/view/CropImageView.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/gallery/adapter/list/GalleryAdapter.kt
  presentation/src/main/res/drawable/ripple_add_gifticon_candidate.xml
  presentation/src/main/res/layout/item_add_candidate_gifticon.xml
Labels: feat, style

#224 Text Style 통일
  presentation/src/main/res/layout/activity_add_gifticon.xml
  presentation/src/main/res/layout/activity_crop_gifticon.xml
  presentation/src/main/res/layout/activity_gallery.xml
  presentation/src/main/res/layout/item_gallery_header.xml
  presentation/src/main/res/values/styles.xml
Labels: style

#223 검색 반경 10에서 20으로 변경
  data/src/main/java/com/lighthouse/datasource/brand/BrandLocalDataSource.kt
  data/src/main/java/com/lighthouse/datasource/brand/BrandLocalDataSourceImpl.kt
  domain/src/main/java/com/lighthouse/domain/LocationConverter.kt
  presentation/src/main/res/layout/fragment_home.xml
  presentation/src/main/res/values/strings.xml
Labels: feat, style

#216 자동로그인 시점 앞당김
  presentation/src/main/java/com/lighthouse/presentation/ui/signin/SignInFragment.kt
Labels: feat, fix

#218 사용완료 기프티콘 탭 개선
  presentation/src/main/java/com/lighthouse/presentation/extra/Extras.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/main/MainActivity.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/setting/SettingFragment.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/setting/SettingMainFragment.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/setting/UsedGifticonFragment.kt
  presentation/src/main/res/layout/fragment_used_gifticon.xml
  presentation/src/main/res/layout/item_gifticon_vertical.xml
  presentation/src/main/res/values/strings.xml
Labels: feat, bug, style

#220 기프티콘 목록 스와이프로 사용처리/삭제
  data/src/main/java/com/lighthouse/database/dao/GifticonDao.kt
  data/src/main/java/com/lighthouse/database/entity/UsageHistoryEntity.kt
  data/src/main/java/com/lighthouse/datasource/gifticon/GifticonLocalDataSource.kt
  data/src/main/java/com/lighthouse/datasource/gifticon/GifticonLocalDataSourceImpl.kt
  data/src/main/java/com/lighthouse/repository/GifticonRepositoryImpl.kt
  domain/src/main/java/com/lighthouse/domain/repository/GifticonRepository.kt
  domain/src/main/java/com/lighthouse/domain/usecase/RemoveGifticonUseCase.kt
  presentation/src/main/java/com/lighthouse/presentation/extension/KotlinExtention.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/gifticonlist/GifticonListViewModel.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/gifticonlist/component/BrandChip.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/gifticonlist/component/GifticonList.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/gifticonlist/component/GifticonListScreen.kt
  presentation/src/main/res/values/colors.xml
  presentation/src/main/res/values/strings.xml
Labels: feat, style

#227 SelectedId 를 SharedFlow로 변경 및 Dialog 오류 수정
  presentation/src/main/java/com/lighthouse/presentation/ui/addgifticon/AddGifticonActivity.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/addgifticon/AddGifticonViewModel.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/home/HomeFragment.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/main/MainActivity.kt
  presentation/src/main/java/com/lighthouse/presentation/util/permission/LocationPermissionManager.kt
  presentation/src/main/java/com/lighthouse/presentation/util/permission/StoragePermissionManager.kt
  presentation/src/main/java/com/lighthouse/presentation/util/permission/core/PermissionDelegate.kt
  presentation/src/main/java/com/lighthouse/presentation/util/permission/core/PermissionFactory.kt
  presentation/src/main/java/com/lighthouse/presentation/util/permission/core/PermissionManager.kt
Labels: feat, fix

#228 AnimInfo 도입
  presentation/src/main/java/com/lighthouse/presentation/binding/View.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/addgifticon/AddGifticonViewModel.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/security/pin/PinDialog.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/security/pin/PinFragment.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/security/pin/PinViewModel.kt
  presentation/src/main/java/com/lighthouse/presentation/util/resource/AnimInfo.kt
  presentation/src/main/res/anim/anim_bounce.xml
  presentation/src/main/res/anim/anim_fade_in.xml
  presentation/src/main/res/anim/anim_fadein_up.xml
  presentation/src/main/res/anim/anim_jump.xml
  presentation/src/main/res/layout/activity_add_gifticon.xml
  presentation/src/main/res/layout/activity_gifticon_detail.xml
  presentation/src/main/res/layout/fragment_check_location.xml
  presentation/src/main/res/layout/fragment_fingerprint.xml
  presentation/src/main/res/layout/fragment_pin.xml
Labels: feat, refactor, style

#232 화면 갱신 지연과 데이터가 갱신 문제 해결
  presentation/src/main/java/com/lighthouse/presentation/ui/addgifticon/AddGifticonViewModel.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/gallery/GalleryViewModel.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/main/MainActivity.kt
Labels: feat, fix

#234 open source license 추가
  app/build.gradle.kts
  build.gradle.kts
  buildSrc/src/main/kotlin/Dependencies.kt
  presentation/src/main/AndroidManifest.xml
  presentation/src/main/java/com/lighthouse/presentation/ui/setting/SettingMainFragment.kt
  presentation/src/main/res/values-night/themes.xml
  presentation/src/main/res/values/styles.xml
  presentation/src/main/res/values/themes.xml
Labels: feat, style, chore

#242 버그 수정
  data/src/main/java/com/lighthouse/datasource/gifticon/GifticonImageRecognizeSource.kt
  data/src/main/java/com/lighthouse/datasource/gifticon/GifticonImageSource.kt
  presentation/src/main/java/com/lighthouse/presentation/extension/ContentResolver.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/cropgifticon/view/CropImageView.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/main/MainActivity.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/main/MainPage.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/main/MainViewModel.kt
Labels: feat, fix

#239 설정화면, 홈화면 Appbar 다크모드 대응
  app/build.gradle.kts
  buildSrc/src/main/kotlin/AppConfig.kt
  data/src/main/java/com/lighthouse/datasource/location/SharedLocationManager.kt
  data/src/test/java/data/datasource/BrandLocalDataSourceTest.kt
  domain/build.gradle.kts
  gradle.properties
  presentation/build.gradle.kts
  presentation/src/main/AndroidManifest.xml
  presentation/src/main/java/com/lighthouse/presentation/ui/detailgifticon/GifticonDetailViewModel.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/home/HomeFragment.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/home/HomeViewModel.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/map/MapViewModel.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/widget/BeepWidgetWorker.kt
  presentation/src/main/res/layout/fragment_home.xml
  presentation/src/main/res/layout/fragment_security_setting.xml
  presentation/src/main/res/layout/fragment_setting.xml
  presentation/src/main/res/layout/fragment_setting_main.xml
Labels: feat, style, chore, test

#257 permission 코드 병합 / state 관리
  data/src/main/java/com/lighthouse/datasource/location/SharedLocationManager.kt
  data/src/main/java/com/lighthouse/repository/LocationRepositoryImpl.kt
  domain/src/main/java/com/lighthouse/domain/repository/LocationRepository.kt
  domain/src/main/java/com/lighthouse/domain/usecase/HasLocationPermissionsUseCase.kt
  domain/src/main/java/com/lighthouse/domain/usecase/UpdateLocationPermissionUseCase.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/home/HomeFragment.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/home/HomeViewModel.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/main/MainActivity.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/widget/BeepWidgetWorker.kt
  presentation/src/main/java/com/lighthouse/presentation/util/permission/LocationPermissionManager.kt
  presentation/src/main/java/com/lighthouse/presentation/util/permission/StoragePermissionManager.kt
  presentation/src/main/java/com/lighthouse/presentation/util/permission/core/ActivityPermissionDelegate.kt
  presentation/src/main/java/com/lighthouse/presentation/util/permission/core/BeepPermissionState.kt
  presentation/src/main/java/com/lighthouse/presentation/util/permission/core/FragmentPermissionDelegate.kt
  presentation/src/main/java/com/lighthouse/presentation/util/permission/core/PermissionDelegate.kt
  presentation/src/main/java/com/lighthouse/presentation/util/permission/core/PermissionFactory.kt
  presentation/src/main/java/com/lighthouse/presentation/util/permission/core/PermissionManager.kt
  presentation/src/main/res/values/strings.xml
Labels: feat, style

#263 지도에서 브랜드 하나만 남았을 때 돌아오면 안사라지는 버그 해결 / app bar 수정
  presentation/src/main/java/com/lighthouse/presentation/ui/map/MapViewModel.kt
  presentation/src/main/res/layout/activity_map.xml
Labels: feat, style

#261 기프티콘 추가시 Sample 적용
  data/src/main/java/com/lighthouse/database/mapper/GifticonForAddtionMapper.kt
  data/src/main/java/com/lighthouse/datasource/gifticon/GifticonImageSource.kt
  data/src/main/java/com/lighthouse/model/GifticonImageResult.kt
  data/src/main/java/com/lighthouse/repository/GifticonRepositoryImpl.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/edit/addgifticon/AddGifticonViewModel.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/setting/UsedGifticonViewModel.kt
Labels: feat, fix

#260 빈 설정 항목 숨기기
  presentation/src/main/res/layout/fragment_setting_main.xml
Labels: style

#241 겁나 큰 바코드 다이얼로그
  presentation/src/main/java/com/lighthouse/presentation/extension/Bitmap.kt
  presentation/src/main/java/com/lighthouse/presentation/extension/KotlinExtention.kt
  presentation/src/main/java/com/lighthouse/presentation/extra/Extras.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/common/VerticalTextView.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/detailgifticon/GifticonDetailActivity.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/detailgifticon/GifticonDetailEvent.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/detailgifticon/GifticonDetailViewModel.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/detailgifticon/dialog/LargeBarcodeDialog.kt
  presentation/src/main/java/com/lighthouse/presentation/util/BarcodeUtil.kt
  presentation/src/main/res/layout/activity_gifticon_detail.xml
  presentation/src/main/res/layout/dialog_large_barcode.xml
  presentation/src/main/res/layout/dialog_use_gifticon.xml
  presentation/src/main/res/layout/fragment_cash_card_gifticon_info.xml
  presentation/src/main/res/layout/fragment_standard_gifticon_info.xml
  presentation/src/main/res/values/attrs.xml
  presentation/src/main/res/values/strings.xml
  presentation/src/main/res/values/styles.xml
Labels: feat, style

#243 사용 위치 기록
  data/src/main/java/com/lighthouse/database/entity/UsageHistoryEntity.kt
  data/src/main/java/com/lighthouse/database/mapper/UsageHistoryMapper.kt
  domain/src/main/java/com/lighthouse/domain/model/UsageHistory.kt
  domain/src/main/java/com/lighthouse/domain/usecase/UseCashCardGifticonUseCase.kt
  domain/src/main/java/com/lighthouse/domain/usecase/UseGifticonUseCase.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/detailgifticon/CashCardGifticonInfoFragment.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/detailgifticon/GifticonDetailActivity.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/detailgifticon/GifticonDetailViewModel.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/detailgifticon/StandardGifticonInfoFragment.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/detailgifticon/dialog/UsageHistoryAdapter.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/gifticonlist/GifticonListViewModel.kt
  presentation/src/main/java/com/lighthouse/presentation/util/Geography.kt
  presentation/src/main/res/layout/fragment_cash_card_gifticon_info.xml
  presentation/src/main/res/layout/fragment_standard_gifticon_info.xml
  presentation/src/main/res/layout/item_usage_history.xml
Labels: feat, style

#264 hot fix
  presentation/src/main/java/com/lighthouse/presentation/ui/detailgifticon/dialog/LargeBarcodeDialog.kt
  presentation/src/main/res/layout/dialog_large_barcode.xml
  presentation/src/main/res/layout/fragment_setting_main.xml
Labels: feat, bug, style
