Repository boostcampwm-2022/android04-BEEP, pull requests merged in 2023-01, with the labels that each got.

#270 AddGifticonViewModel Coroutine 로직 변경
  .github/workflows/beepCD.yml
  .github/workflows/reviewKtlint.yml
  .gitignore
  app/build.gradle.kts
  app/keystore/keep
  build.gradle.kts
  buildSrc/src/main/kotlin/Dependencies.kt
  data/build.gradle.kts
  presentation/build.gradle.kts
  presentation/src/main/java/com/lighthouse/presentation/ui/edit/addgifticon/AddGifticonViewModel.kt
Labels: feat, refactor

#272 clipToPadding 을 사용하여 처음, 마지막 아이템에 대한 공간을 처리하게 변경, UIText 기능 확장
  presentation/src/main/java/com/lighthouse/presentation/binding/TextView.kt
  presentation/src/main/java/com/lighthouse/presentation/extension/Date.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/edit/addgifticon/AddGifticonActivity.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/gallery/GalleryActivity.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/gifticonlist/component/GifticonList.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/gifticonlist/component/GifticonListScreen.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/gifticonlist/component/GifticonListToolBar.kt
  presentation/src/main/java/com/lighthouse/presentation/util/resource/UISpan.kt
  presentation/src/main/java/com/lighthouse/presentation/util/resource/UIText.kt
  presentation/src/main/res/layout/activity_add_gifticon.xml
  presentation/src/main/res/layout/activity_gallery.xml
  presentation/src/main/res/layout/item_add_candidate_gifticon.xml
  presentation/src/main/res/layout/item_add_goto_gallery.xml
  presentation/src/main/res/layout/item_selected_gallery.xml
Labels: feat, fix, style, chore

#267 map ui 개선
  .github/workflows/beepCI.yml
  presentation/src/main/java/com/lighthouse/presentation/binding/RecyclerView.kt
  presentation/src/main/java/com/lighthouse/presentation/binding/TextView.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/map/MapActivity.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/map/MapViewModel.kt
  presentation/src/main/java/com/lighthouse/presentation/util/resource/UIText.kt
  presentation/src/main/res/drawable/bg_map_bottom_sheet_24.xml
  presentation/src/main/res/layout/activity_map.xml
  presentation/src/main/res/layout/dialog_map_gifticons.xml
  presentation/src/main/res/layout/item_gifticon_horizontal.xml
  presentation/src/main/res/values/strings.xml
  presentation/src/main/res/values/styles.xml
  presentation/src/main/res/values/themes.xml
Labels: feat, style

#278 uiText Span 적용
  presentation/src/main/java/com/lighthouse/presentation/binding/TextView.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/map/MapViewModel.kt
  presentation/src/main/java/com/lighthouse/presentation/util/resource/UISpan.kt
  presentation/src/main/java/com/lighthouse/presentation/util/resource/UIText.kt
Labels: feat, refactor

#274 1달 지난 정보 삭제
  data/src/main/java/com/lighthouse/database/dao/BrandWithSectionDao.kt
  data/src/main/java/com/lighthouse/datasource/brand/BrandLocalDataSource.kt
  data/src/main/java/com/lighthouse/datasource/brand/BrandLocalDataSourceImpl.kt
  data/src/main/java/com/lighthouse/repository/BrandRepositoryImpl.kt
  domain/src/main/java/com/lighthouse/domain/repository/BrandRepository.kt
  domain/src/main/java/com/lighthouse/domain/usecase/RemoveExpirationBrandUseCase.kt
  presentation/src/main/java/com/lighthouse/presentation/background/BeepWorkManager.kt
  presentation/src/main/java/com/lighthouse/presentation/background/ExpirationBrandWorker.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/gifticonlist/component/GifticonListScreen.kt
  presentation/src/main/java/com/lighthouse/presentation/util/TimeCalculator.kt
Labels: feat
